<body>

  <div>
    <div class="div">
      <img style="margin: 0px 60px 50px 0px" src="/assets/LOGO_MARCA_LOJA_SEBO_ALTERNATIVO-removebg-preview.png">
    </div>
    <div class="div">
      <button style="color: #FFEBCC" (click)='cadastrar()'>CADASTRAR LIVROS</button>
    </div>
    <div class="div">
      <button style="color: #FFEBCC" (click)='cadastraradm()'>CADASTRAR ADMINISTRADOR</button>
    </div>
    <div class="div">
      <button style="color: #FFEBCC" (click)='livroscads()'>LIVROS CADASTRADOS</button>
    </div>
  </div>

</body>