<body>
  <div>
    <div>
      <img style="margin: 0px 60px 50px 8px" src="/assets/LOGO_MARCA_LOJA_SEBO_ALTERNATIVO-removebg-preview.png">
    </div>
    <a>CADASTRAR NOVO ADMINISTRADOR</a>
    <div>
      <input type="text" placeholder="Nome Completo" style="margin: 10px 0px 10px 20px;">
    </div>
    <div>
      <input type="text" placeholder="Usuário" style="margin: 10px 0px 10px 20px;">
    </div>
    <div>
      <input type="text" placeholder="Senha" style="margin: 10px 0px 10px 20px;">
    </div>
    <div>
      <button style="color: #FFEBCC" (click)='cadastradoadm()'>CADASTRAR</button>
    </div>
  </div>
</body>