<body>
  <div>
    <div>
      <img style="margin: 0px 60px 50px 8px" src="/assets/LOGO_MARCA_LOJA_SEBO_ALTERNATIVO-removebg-preview.png">
    </div>
    <a>CADASTRAR GÊNERO</a>
    <div>
      <input type="text" placeholder="Novo Gênero" style="margin: 10px 0px 10px 20px;" [(ngModel)] ="genero">
    </div>
    <div>
      <button style="color: #FFEBCC" (click)='cadasgenero()'>CADASTRAR</button>
    </div>
    <div>
      <button style="color: #FFEBCC; margin: 10px 0px 0px 66px;" (click)='voltar()'>VOLTAR</button>
    </div>

  </div>

</body>