body{
    background-color: #d3a27f;
    min-height: 100%;
}

.inicio{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

a{
    font-size: 30px;
    font-weight: bold;
    color: #FFEBCC;

}
button {
    width: 100px;
    height: 40px;
    border-radius: 10px;
    background-color: #d3a27f;
    border: solid  0px;
    float: left;
    margin: 1%;
}
input {
    padding: 2px;
    width: 150px;
    height: 20px;
    border: none;
    border-radius: 10px;
    outline: none;
    font-size: 15px;
    border: #964b00 2px solid;
}
.buttonFora{
    width: 100px;
    height: 40px;
    border-radius: 10px;
    background-color: #964b00;
    color: #FFEBCC;
    border: solid  0px;
    margin: 1%;
    text-align: center;
}

.divApresentar{
    background-color: #964b00;
    width: 29%;
    justify-content: center;
    align-items: center;
    row-gap: 20%;
    padding: 1%;
    margin: 1%;
    font-size: 20px;
    font-weight: bold;
    border-radius: 40px;
} 
.apresentar{
    display: flex;
    flex-wrap: wrap;
}

.organizar{
    display: flex;
    justify-content: space-between;
}