<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">

<body>
  <header>
    <div class="divheader">
      <img style="margin:30px" src="/assets/LOGO_MARCA_LOJA_SEBO_ALTERNATIVO-removebg-preview.png">
      <div class="div-input">
        <i class="fi fi-rr-search" style="color:#964b00"></i>
        <input type="text" placeholder="Buscar Livros">
      </div>
      <button class="butlogin" style="color: #FFEBCC" (click)='loginadm()'>LOGIN ADM</button>
      
    </div>
  </header>

<main>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</main>

  <footer>
    <div class="redes">
      <div>
        <img src="https://img.icons8.com/ios-glyphs/40/000000/facebook.png"/> 
    </div>
    <div>
        <i class="fab fa-twitter"></i>
    </div>
    <div>
        <i class="fab fa-youtube"></i>
    </div>
    <div>
        <i class="fab fa-instagram"></i>
    </div>
    </div>
    <div class="divfooter">
      <p class="sebo">SEBO ALTERNATIVO</p>
      <p>Usado, bom e barato</p>
      <p>Compra-Vende-Troca</p>
      <p>Revista - livros - Gibis</p>
      <p> Cd's - DVD's - Blu-Ray - LP's</p>
    
  </div>
  </footer>
</body>