<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">

<body>
  <header>
    <div class="divheader">
      <img style="margin:30px" src="/assets/LOGO_MARCA_LOJA_SEBO_ALTERNATIVO-removebg-preview.png">
      <div class="div-input">
        <i class="fi fi-rr-search" style="color:#964b00"></i>
        <input type="text" placeholder="Buscar Livros">
      </div>
      <button class="butlogin" style="color: #FFEBCC" (click)='loginadm()'>LOGIN ADM</button>

    </div>
  </header>

  <main>
    <a>LIVROS DISPONÍVEIS</a>
    <div class="apresentar">
      <div class="divApresentar" *ngFor="let livro of listaLivros; let i= index">
        <div class="organizar">
          <div class="text">
            <h4>TÍTULO: {{livro.TITULO}}</h4>
            <h4>AUTOR: {{livro.AUTOR}}</h4>
            <h4>VALOR: {{livro.VALOR}}</h4>
            <h4>QTD: {{livro.ESTOQUE}}</h4>
          </div>
          <div style="display: flex; justify-content: right;">
            <img style="width: 20vh; height: 20vh;"[src]="livro.IMAGEURL">
          </div>
        </div>
      </div>
    </div>
  </main>

  <footer>
    <div class="redes">
      <div>
        <i style="color: white; font-size: 30px;  " class="fab fa-facebook"></i>
      </div>
      <div>
        <i style="color: white; font-size: 30px;" class="fab fa-twitter"></i>
      </div>
      <div>
        <i style="color: white; font-size: 30px;" class="fab fa-youtube"></i>
      </div>
      <div>
        <i style="color: white; font-size: 30px; " class="fab fa-instagram"></i>
      </div>
    </div>
    <div class="divfooter">
      <div style="margin: 15px;">
        <p class="sebo">SEBO ALTERNATIVO</p>
        <p>Usado, bom e barato</p>
        <p>Compra-Vende-Troca</p>
        <p>Revista - livros - Gibis</p>
        <p> Cd's - DVD's - Blu-Ray - LP's</p>
      </div>
      <div style="margin: 15px;">
        <p class="sebo">ENDEREÇO:</p>
        <p>Avenida Getúlio Vargas, 176 - Sala 02</p>
        <p>Bairro: Centro</p>
        <p>Telefone: (48) 3437-3207</p>
        <p>Cidade: Criciúma - SC</p>
        <p>E-mail: seboalternativo@seboalternativo.com.br</p>
      </div>
    </div>
  </footer>
</body>