<body>
  <header>
    <div class="divheader">
      <img style="margin:30px" src="/assets/LOGO_MARCA_LOJA_SEBO_ALTERNATIVO-removebg-preview.png">
      <div class="div-input">
        <i class="fi fi-rr-search" style="color:#964b00"></i>
        <input type="text" placeholder="Buscar Livros">
      </div>
      
    </div>
  </header>

<main>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</main>

  <footer>
    <div class="divfooter">
      <p class="sebo">SEBO ALTERNATIVO</p>
      <p>Usado, bom e barato</p>
      <p>Compra-Vende-Troca</p>
      <p>Revista - livros - Gibis</p>
      <p> Cd's - DVD's - Blu-Ray - LP's</p>
    <button class="butlogin" style="color: #FFEBCC" (click)='loginadm()'>LOGIN ADM</button>
  </div>
  </footer>
</body>